<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">

      <div class="Title flex-row d-flex">
        <h3 class=" col-lg-3 col-md-4 col-sm-12 CountyHeading ">Clay County</h3>
        <h5 class="col-lg-5 col-md-5 col-sm-12 AppName align-middle">Address Information Viewer</h5>
      </div>
      <div class="navbar">
       
        <div class=" ">
          <ul class="nav navbar-nav InfoViewerNav flex-row navbar-collapse">
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
          </ul>
        </div>
      </div>
    </div>

  <div class="container body-content">
    @RenderBody()

  </div>   
  <hr />
  <footer>
    <p>@DateTime.Now.Year - Clay County Address Information Viewer</p>
  </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
